/* CSS PAGE: MAIN */

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mainBackground {
    width: 100vw;
    height: auto;
    background-image: url(../img/offerMatrix_rs3.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}



@media (max-width: 768px) {
    #mainBackground {
        width: 100vw;
        height: 100vh;
        background-image: url(../img/offerMatrix_rs3_sm2.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        padding-top: 15%;
    }
}

.logoNavbar {
    height: 2em;
    background-image: url(../img/logotext_transBack_greenText.png);
    background-size: cover;
    width: 10em;
}



.containerButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 80vw;
    margin: 0;
}

@media (max-width: 768px) {
    .containerButtons {
        margin-top: 5%;
        height: 50vh;
        width: 80vw;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    margin: 0;
    color: inherit;
    text-decoration: none;
}

.textContainer:hover {
    color: inherit;
    text-decoration: none;

}


.textButton {
    background-color: grey;
    background-image: url(../img/metalSpotsTexture2.jpg);
    background-size: cover;
    height: 5em;
    width: 80%;
    border-radius: 10%/10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0.45em rgba(0, 0, 0, 0.5);
    font-size: 150%;
    font-weight: bold;
    color: white;
    text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5);
    user-select: none;
    text-align: center;

}



.textButton:hover {
    transform: scale(1.1);
    background-color: rgb(180, 179, 179);
    box-shadow: 0em 0em 0.3em 0.3em #84BD00;
}

/* CSS PAGE: ABOUT */

#aboutBackground {
    width: 100vw;
    height: auto;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

@media (max-width: 768px) {
    #aboutBackground {
        background-color: black;
        background-repeat: no-repeat;
        background-position: center 4%;
        background-size: 40%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.aboutTextContainer {
    margin-top: 2vh;
    background-color: rgba(128, 128, 128, 0.566);
    width: 70vw;
    height: auto;
    font-size: 120%;
    color: white;
    text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    display: inline-block;
}

@media (max-width: 768px) {
    .aboutTextContainer {
        background-color: rgba(128, 128, 128, 0.566);
        width: 100%;
        height: auto;
        display: inline-block;
        font-size: auto;
    }

    ol {
        padding: 0.5em;
    }
}

.aboutTitle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #84BD00;
    text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
        0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
}

li {
    margin-bottom: 0.5em;
}

.videoTutorialMastermind {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.linkContainer {
    width: 100%;
}

#menuRules {
    width: 100%;
    height: auto;
    color: #84BD00;
    display: flex;
    justify-content: center;
}

.titleRules {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #84BD00;
    text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
        0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
    text-align: center;
}

#Rules {
    padding: 1em;
}


/* CSS MASTERMIND */


#mastermindBackground {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mastermindBoard {
    margin-top: 3em;
    width: 30em;
    height: 45em;
    background-image: url(../img/woodTexture.jpg);
    background-repeat: inherit;
    border-radius: 2em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

@media (max-width: 768px) {
    .mastermindBoard {
        margin-top: 3em;
        width: 80%;
        height: 80%;
        background-image: url(../img/woodTexture.jpg);
        background-repeat: inherit;
        border-radius: 2em;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}

.fila {
    /* border: blue solid 0.16em; */
    width: 100%;
    height: 10%;
    display: flex;
}

.filaCierre {
    width: 100%;
    height: 5%;

    /* border: green solid 0.16em; */
}

.filaSolucion {
    /* border: blue solid 0.16em; */
    margin-top: 1em;
    width: 100%;
    height: 8%;
    display: flex;
}



.celdaTry {
    /* border: red solid 0.16em; */
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celdaMargen {
    /* border: green solid 0.16em; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.numeroTirada {
    color: #84BD00;
    text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
        0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
    width: 100%;
    font-size: 150%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
}

@media (max-width: 768px) {

    .numeroTirada {
        color: #84BD00;
        text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
            0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
        width: 100%;
        font-size: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        user-select: none;
    }
}


.botonComprobacion {
    background-color: grey;
    color: black;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    box-shadow: 0.2em 0.2em #282828;
    font-size: 50%;
    width: 80%;
    height: 25%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.celdaBoton {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botonHUB {
    background-color: rgb(85, 129, 186);
    color: white;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    box-shadow: 0.2em 0.2em #282828;
    font-size: 50%;
    width: 80%;
    height: 60%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.celdaPuntuacion {
    /* border: yellow solid 0.16em; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tirada {
    border-radius: 50%;
    background: linear-gradient(119deg, rgba(87, 89, 89, 0.106) 0%, rgba(66, 68, 68, 0.308) 18%, rgba(4, 4, 4, 0.571) 100%);
    background-color: rgb(0, 0, 0);
    height: 2em;
    width: 2em;
    cursor: pointer;
    border: 0.16em inset grey;

}

@media (max-width: 768px) {
    .tirada {
        border-radius: 50%;
        background-color: black;
        height: 2em;
        width: 2em;
        cursor: pointer;
        padding: 0.1em;
    }
}

.Solucion {
    border-radius: 50%;
    background: linear-gradient(119deg, rgba(87, 89, 89, 0.106) 0%, rgba(66, 68, 68, 0.308) 18%, rgba(4, 4, 4, 0.571) 100%);
    background-color: black;
    height: 2em;
    width: 2em;
    border: 0.16em inset grey;
}

.puntuacion {
    /* border: white solid 0.16em; */
    height: 60%;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.pto {
    border-radius: 50%;
    background-color: black;
    height: 0.8em;
    width: 0.8em;
    border: 0.016em inset grey;

}

.tiradaActiva {
    border: 0.16em solid rgb(254, 241, 4);
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.4em;
}


.tiradaInactiva {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.4em;
}

.filaBlock {
    background-image: url(../img/blockedMove.jpg);
    width: 60%;
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -1.2em;
    box-shadow: 0.1em 0.1em #282828, -0.1em 0.1em #282828, 0.05em -0.05em #282828, -0.05em -0.05em #282828;
}

.tiradaBlock {
    background-color: transparent;
    user-select: none;
    cursor: default;
    background: transparent;
    border: transparent;

}

/* CSS PAGE: PLAYERSELECT */

.mainPlayerSelect {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logoBackground {
    background-image: url(../img/logo_transBack_greenText.png);
    width: 20em;
    height: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8vh;
}


.prompPlayerSelect {
    width: 50vw;
    color: black;
    text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
        0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
    height: auto;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

}

@media (max-width: 768px) {
    .prompPlayerSelect {
        width: 80vw;
        color: black;
        text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
            0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
        height: auto;
        font-size: 150%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

    }
}

#inputName {
    margin-top: 3vh;
    width: 10vw;
    height: 3vh;
    background-color: aliceblue;
    text-align: center;
    border-radius: 0.3em;
}

@media (max-width: 768px) {
    #inputName {
        margin-top: 3vh;
        width: 60vw;
        height: 5vh;
        background-color: aliceblue;
        text-align: center;
        border-radius: 0.3em;
    }
}

#sendName {
    margin-top: 3vh;
    width: 8vw;
    height: 4vh;
    background-color: rgb(153, 142, 142);
    color: white;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 768px) {
    #sendName {
        margin-top: 3vh;
        width: 20vw;
        height: 5vh;
        background-color: rgb(153, 142, 142);
        border-radius: 1em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }
}

.inputLink {
    margin-top: 2vh;

}


.inputLvl {
    width: 8vw;
    height: 4vh;
    background-color: rgb(153, 142, 142);
    color: white;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;

}

@media (max-width: 768px) {
    .inputLvl {
        margin-top: 3vh;
        width: 25vw;
        height: 7vh;
        background-color: rgb(153, 142, 142);
        border-radius: 1em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }
}

a {
    color: inherit;
    text-decoration: none;

}

.prompLevelSelect {
    width: 50vw;
    color: black;
    text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
        0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
    height: auto;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

}

@media (max-width: 768px) {
    .prompLevelSelect {
        width: 80vw;
        color: black;
        text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
            0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
        height: auto;
        font-size: 150%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

    }
}


/* CSS PAGE: COLOR SELECT */

.selected {
    margin-top: 3vh;
    width: 24vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 768px) {

    .selected {
        margin-top: 3vh;
        width: 80vw;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.selectedColor {
    MARGIN: 0.32em;
    width: 20%;
    height: 80%;
    background-color: white;
    border-radius: 0.8em;
}

.selectedColor.selectedC {
    MARGIN: 0.32em;
    width: 20%;
    height: 80%;
    background-color: white;
    border-radius: 0.8em;
    border: solid 0.5em #84BD00;
}






#pickerColor {
    padding: 0;
    margin-top: 2em;
    width: 5vw;
    height: 5vh;
    border-radius: 0.8em;
    border: #84BD00 solid 0.20em;
}

@media (max-width: 768px) {
    #pickerColor {
        padding: 0;
        margin-top: 2em;
        width: 30vw;
        height: 6vh;
        border-radius: 0.8em;
        border: #84BD00 solid 0.20em;
    }
}

.prompColorSelect {
    width: 30vw;
    color: black;
    text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
        0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
    height: auto;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

@media (max-width: 768px) {

    .prompColorSelect {
        width: 30vw;
        color: black;
        text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
            0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
        height: auto;
        font-size: 150%;
        font-weight: bold;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
    }
}