body {
    overflow: hidden;
}

#mainBackground {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/offerMatrix_rs.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.logoNavbar {
    height: 2em;
    background-image: url(../img/logotext_transBack_greenText.png);
    background-size: cover;
    width: 10em;
}

.contenedorOpciones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    padding: 10%;
}


.opcion {
    background-color: grey;
    height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0.45em rgba(0, 0, 0, 0.5);
}

.opcion:hover {
    transform: scale(1.1);
    background-color: rgb(180, 179, 179);
}

.textopcion {
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5);
    user-select: none;
}