/* NAVBAR BETA */

.barraMenu {
    background: linear-gradient(163deg, rgba(178, 255, 0, 1) 0%, rgba(132, 189, 0, 1) 21%, rgba(132, 189, 0, 0.9192051820728291) 35%, rgba(178, 255, 0, 0.8435749299719888) 47%, rgba(132, 189, 0, 0.9248074229691877) 65%, rgba(132, 189, 0, 0.804359243697479) 78%, rgba(178, 255, 0, 1) 100%);
    width: 20em;
    height: 3em;
    border-radius: 2em;
    margin-bottom: 2em;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #cce816
}

@media (max-width: 768px) {

    .barraMenu {
        background: linear-gradient(163deg, rgba(178, 255, 0, 1) 0%, rgba(132, 189, 0, 1) 21%, rgba(132, 189, 0, 0.9192051820728291) 35%, rgba(178, 255, 0, 0.8435749299719888) 47%, rgba(132, 189, 0, 0.9248074229691877) 65%, rgba(132, 189, 0, 0.804359243697479) 78%, rgba(178, 255, 0, 1) 100%);
        width: 80vw;
        height: 2.5em;
        border-radius: 2em;
        margin-bottom: 2em;
        margin-top: 1.5em;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
}

.svgColor {
    filter: invert(57%) sepia(71%) saturate(796%) hue-rotate(37deg) brightness(97%) contrast(101%);
}

.elementMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    padding: 0.4em;
    background-color: black;
    cursor: pointer;
}

.elementMenu:hover {
    transform: scale(1.3);
}

/* CSS PAGE: MAIN */

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

#mainBackground {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
    #mainBackground {
        width: 100vw;
        height: 100vh;
        background-color: black;
        display: flex;
        justify-content: flex-start;
    }
}

.videoContainer2 {
    position: relative;
    width: 30vw;
    height: 15vh;
    user-select: none;

}

.videoContainer2 video {
    width: 30vw;
    height: 30vh;
    user-select: none;

}

#gameName {
    font-size: 5vw;
    color: #bffd2f;
    text-shadow: 0.08em 0 black, -0.08em 0 black, 0 0.08em black, 0 -0.08em black,
        0.04em 0.04em black, -0.04em -0.04em black, 0.04em -0.04em black, 0.04em 0.04em black;
    font-weight: bold;
    transition: color 2s ease-in-out;
    font-family: 'Franklin Gothic Medium';

}

@media (max-width: 768px) {

    #gameName {
        font-size: 13vw;
        color: #bffd2f;
        text-shadow: 0.08em 0 black, -0.08em 0 black, 0 0.08em black, 0 -0.08em black,
            0.04em 0.04em black, -0.04em -0.04em black, 0.04em -0.04em black, 0.04em 0.04em black;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium';
    }
}

@media (max-width: 768px) {
    .videoContainer2 {
        position: relative;
        width: 20vw;
        height: 0vh;
        user-select: none;

    }

    .videoContainer2 video {
        width: 50vw;
        height: 50vh;
        user-select: none;

    }

}

.containerIndex {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


.containerButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
}

@media (max-width: 768px) {
    .containerButtons {
        margin-top: 5%;
        height: 10vh;
        width: 80vw;
    }
}

.button {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.textButton {
    /* background: linear-gradient(163deg, rgba(255, 0, 0, 0.9472163865546218) 0%, rgba(235, 225, 15, 0.9136029411764706) 40%, rgba(26, 255, 0, 0.8435749299719888) 67%, rgba(31, 0, 189, 0.8631827731092436) 88%); */
    background-image: url(../img/woodTexture.jpg);
    background-position: center;
    background-repeat: repeat;
    height: 10vh;
    width: 50vw;
    border-radius: 20%/50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0.45em rgba(0, 0, 0, 0.5);
    font-size: 150%;
    font-weight: bold;
    color: #bffd2f;
    text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
        0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
    user-select: none;
    text-align: center;
}



.textButton:hover {
    transform: scale(1.1);
    background-color: rgb(11, 11, 11);
    box-shadow: 0em 0em 0.3em 0.3em #84BD00;
}

@media (max-width: 768px) {

    .textButton {
        background-image: url(../img/woodTexture.jpg);
        background-position: center;
        background-repeat: repeat;
        height: 10vh;
        width: 60vw;
        border-radius: 20%/20%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0.3em 0.3em 0.45em rgba(0, 0, 0, 0.5);
        font-size: 100%;
        font-weight: bold;
        color: #bffd2f;
        text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
            0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
        user-select: none;
        text-align: center;
    }


}


/* CSS PAGE: WINNER */
#winnerBackground {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 10%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5em;
}

#finalMessage {
    width: 80vw;
    height: 10vh;
    background-color: transparent;
    color: #84BD00;
    text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
        0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

@media (max-width: 768px) {

    #finalMessage {
        width: 80vw;
        height: 10vh;
        background-color: transparent;
        color: #84BD00;
        text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
            0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        margin: 1em;
    }
}

#finalAnimation {
    height: 50vh;
    width: 60vw;
}

@media (max-width: 768px) {

    #finalAnimation {
        height: 50vh;
        width: 60vw;
    }

    .finalAnimationWin {
        background-image: url(../img/win_gif.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
    }

    .finalAnimationLose {
        background-image: url(../img/lose_gif.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}


.finalAnimationWin {
    background-image: url(../img/win_gif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;

}

.finalAnimationLose {
    background-image: url(../img/lose_gif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;

}

/* CSS PAGE: ABOUT */

#aboutBackground {
    width: 100vw;
    height: auto;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

@media (max-width: 768px) {
    #aboutBackground {
        background-color: black;
        background-repeat: no-repeat;
        background-position: center 4%;
        background-size: 40%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fb9c03
    }

    .textContainer {
        font-size: 1em;
    }
}

.aboutTextContainer {
    margin-top: 2vh;
    background: radial-gradient(circle, rgba(10,33,11,0.9611026539522058) 0%, rgba(10,33,11,0.9583015335040266) 15%, rgba(9,30,10,1) 53%, rgba(0,0,0,1) 84%, rgba(24,24,24,0.9555004130558473) 100%);    width: 70vw;
    height: auto;
    font-size: 120%;
    color: white;
    text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    display: inline-block;
    padding:2em;
}

@media (max-width: 768px) {
    .aboutTextContainer {
        background-color: rgba(128, 128, 128, 0.566);
        width: 100%;
        height: auto;
        display: inline-block;
        font-size: 80%;
        padding: 0.5em;
    }

    ol {
        padding: 0.5em;
    }
}

#aboutTitle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #84BD00;
    text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
        0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
        transition: color 2s ease-in-out;
        font-family: 'Franklin Gothic Medium';
    
}

@media (max-width: 768px) {

    #aboutTitle {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        font-size: 200%;
        font-weight: bold;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        color: #84BD00;
        text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
            0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
            transition: color 2s ease-in-out;
            font-family: 'Franklin Gothic Medium';
        
    }
}

li {
    margin-bottom: 0.5em;
}


@media (max-width: 768px) {


    .videoTutorialMastermind {
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .videoTutorialMastermind video {
        width: 50vw;

    }
}

.linkContainer {
    width: 100%;
}

.linkContainer2 {
    width: 20%;
}

#menuRules {
    width: 100%;
    height: auto;
    color: #84BD00;
    display: flex;
    justify-content: center;
    padding-right: 4em;
    font-size: 80%;
}

.titleRules {
    margin-bottom: 1em;
    color: #84BD00;
    text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
        0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
    text-align: center;
}
@media (max-width: 768px) {

.titleRules {
    margin-bottom: 1em;
    color: #84BD00;
    text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
        0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
    text-align: center;
    font-size: 200%;
}}
#Rules {
    padding: 1em;
}


/* CSS MASTERMIND */


#mastermindBackground {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 768px) {
    #mastermindBackground {
        width: 100vw;
        height: 100vh;
        background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTQ2MDU0ZTUxMmRlMmJkOWM3NmFjNTJhNDMyNDAwZTJkMzYwMmZmZCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/l3vRnoppYtfEbemBO/giphy.gif);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;

    }
}

.mastermindBoard {
    width: 25em;
    height: 35em;
    background-image: url(../img/woodTexture.jpg);
    background-repeat: inherit;
    border-radius: 2em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

@media (max-width: 768px) {
    .mastermindBoard {
        width: 90%;
        height: 80%;
        background-image: url(../img/woodTexture.jpg);
        background-repeat: inherit;
        border-radius: 2em;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}

.fila {
    /* border: blue solid 0.16em; */
    width: 100%;
    height: 10%;
    display: flex;
}

.filaCierre {
    width: 100%;
    height: 5%;
}

.filaSolucion {
    margin-top: 1em;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.celdaTry {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celdaMargen {
    /* border: green solid 0.16em; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.numeroTirada {
    color: #84BD00;
    text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
        0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
    width: 100%;
    font-size: 120%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
}

@media (max-width: 768px) {

    .numeroTirada {
        color: #84BD00;
        text-shadow: 0.16em 0 black, -0.16em 0 black, 0 0.16em black, 0 -0.16em black,
            0.08em 0.08em black, -0.08em -0.08em black, 0.08em -0.08em black, 0.08em 0.08em black;
        width: 100%;
        font-size: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        user-select: none;
    }
}

.tiradaNull {
    pointer-events: none;
}


.botonComprobacion {
    background: rgb(178, 233, 49);
    color: black;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    box-shadow: 0.2em 0.2em #282828;
    font-size: 50%;
    width: 60%;
    height: 30%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

@media (max-width: 768px) {

    .botonComprobacion {
        background-color: rgb(15, 65, 14);
        color: white;
        text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
        box-shadow: 0.2em 0.2em #282828;
        font-size: 40%;
        width: 60%;
        height: 35%;
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }
}

.celdaBoton {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botonHUB {
    background-color: rgb(85, 129, 186);
    color: white;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    box-shadow: 0.2em 0.2em #282828;
    font-size: 50%;
    width: 300%;
    height: 80%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.celdaPuntuacion {
    /* border: yellow solid 0.16em; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tirada {
    border-radius: 50%;
    background: linear-gradient(119deg, rgba(87, 89, 89, 0.106) 0%, rgba(66, 68, 68, 0.308) 18%, rgba(4, 4, 4, 0.571) 100%);
    background-color: rgb(0, 0, 0);
    height: 2em;
    width: 2em;
    cursor: pointer;
    border: 0.16em inset grey;
}

.tryActive {
    border-radius: 50%;
    background: linear-gradient(119deg, rgba(87, 89, 89, 0.106) 0%, rgba(66, 68, 68, 0.308) 18%, rgba(4, 4, 4, 0.571) 100%);
    background-color: rgb(0, 0, 0);
    height: 2em;
    width: 2em;
    cursor: pointer;
    border: 0.16em inset grey;
}

@media (max-width: 768px) {
    .tirada1 {
        border-radius: 50%;
        background-color: black;
        height: 2em;
        width: 2em;
        cursor: pointer;
        padding: 0.9em;
    }
}

@media (max-width: 768px) {
    .tirada {
        border-radius: 50%;
        background-color: black;
        height: 2em;
        width: 2em;
        cursor: pointer;
        padding: 0.9em;
    }
}

.Solucion {
    border-radius: 50%;
    background: linear-gradient(119deg, rgba(87, 89, 89, 0.106) 0%, rgba(66, 68, 68, 0.308) 18%, rgba(4, 4, 4, 0.571) 100%);
    background-color: black;
    background-size: cover;
    background-position: 50% 0%;
    height: 3em;
    width: 3em;
    border: 0.16em inset grey;
}

.SolucionLogo {
    background-image: url(../img/logo_blackBack_greenText_justHead.png);
    background-size: cover;
    background-position: 50% 0%;
}


.puntuacion {
    /* border: white solid 0.16em; */
    height: 60%;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.pto {
    border-radius: 50%;
    background-color: black;
    height: 0.8em;
    width: 0.8em;
    border: 0.1em inset grey;
}

.tiradaActiva {
    border: 0.16em solid #84BD00;
    box-shadow: 0.16em 0.16em 0.5em black;
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    border-radius: 2em;
    transform: scale(1.12);
}


.tiradaInactiva {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.4em;
}

.filaBlock {
    background-image: url(../img/blockedMove.jpg);
    width: 60%;
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -1.2em;
    box-shadow: 0.1em 0.1em #282828, -0.1em 0.1em #282828, 0.05em -0.05em #282828, -0.05em -0.05em #282828;
}

.tiradaBlock {
    background-color: transparent;
    user-select: none;
    cursor: default;
    background: transparent;
    border: transparent;
    text-shadow: none;
    box-shadow: none;
    color: transparent;

}


/* CSS PAGE: PLAYERSELECT */

.mainPlayerSelect {
    width: 100vw;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* .logoBackground {
    background-image: url(../img/logo_transBack_greenText.png);
    width: 15em;
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
} */

/* .logoBackgroundSmall {
    background-image: url(../img/logo_transBack_greenText.png);
    width: 15em;
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
} */
/* 
@media (max-width: 768px) {

    .logoBackgroundSmall {
        background-image: url(../img/logo_transBack_greenText.png);
        width: 10em;
        height: 5em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
    }
}
 */



.prompPlayerSelect {
    width: 50vw;
    color: black;
    text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
        0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
    height: auto;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-bottom: 2vh;
    margin-top: 2vh;



}

@media (max-width: 768px) {
    .prompPlayerSelect {
        width: 80vw;
        color: black;
        text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
            0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
        height: auto;
        font-size: 150%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

    }
}

#inputName {
    margin-top: 3vh;
    width: 10vw;
    height: 3vh;
    background-color: aliceblue;
    text-align: center;
    border-radius: 0.3em;
}

@media (max-width: 768px) {
    #inputName {
        margin-top: 3vh;
        width: 60vw;
        height: 5vh;
        background-color: aliceblue;
        text-align: center;
        border-radius: 0.3em;
    }
}

#sendName {
    margin-top: 3vh;
    width: 8vw;
    height: 4vh;
    background: linear-gradient(163deg, rgba(178, 255, 0, 1) 0%, rgba(132, 189, 0, 1) 21%, rgba(132, 189, 0, 0.9192051820728291) 35%, rgba(178, 255, 0, 0.8435749299719888) 47%, rgba(132, 189, 0, 0.9248074229691877) 65%, rgba(132, 189, 0, 0.804359243697479) 78%, rgba(178, 255, 0, 1) 100%);
    color: black;
    text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
        0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 768px) {
    #sendName {
        width: 20vw;
        height: 5vh;
        background-color: rgb(153, 142, 142);
        border-radius: 1em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        margin-top: 3em;
    }
}


.inputLvl {
    width: 8vw;
    height: 4vh;
    background: linear-gradient(163deg, rgba(178, 255, 0, 1) 0%, rgba(132, 189, 0, 1) 21%, rgba(132, 189, 0, 0.9192051820728291) 35%, rgba(178, 255, 0, 0.8435749299719888) 47%, rgba(132, 189, 0, 0.9248074229691877) 65%, rgba(132, 189, 0, 0.804359243697479) 78%, rgba(178, 255, 0, 1) 100%);
    color: black;
    text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
        0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    margin-top: 2vh;
}

.inputLvlY {
    width: 8vw;
    height: 4vh;
    background: linear-gradient(163deg, rgb(255, 213, 0) 0%, rgb(189, 145, 0) 21%, rgba(189, 145, 0, 0.919) 35%, rgba(255, 204, 0, 0.844) 47%, rgba(189, 113, 0, 0.925) 65%, rgba(189, 129, 0, 0.804) 78%, rgb(255, 204, 0) 100%);
    color: black;
    text-shadow: 0.08em 0 #bd8100, -0.08em 0 #bd8100, 0 0.08em #bd8100, 0 -0.08em #bd8100,
        0.04em 0.04em #bd8100, -0.04em -0.04em #bd8100, 0.04em -0.04em #bd8100, 0.04em 0.04em #bd8100;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    margin-top: 2vh;
}

.inputLvlR {
    width: 8vw;
    height: 4vh;
    background: linear-gradient(163deg, rgb(255, 0, 0) 0%, rgb(189, 0, 0) 21%, rgba(189, 0, 0, 0.919) 35%, rgba(255, 0, 0, 0.844) 47%, rgba(189, 0, 0, 0.925) 65%, rgba(189, 0, 0, 0.804) 78%, rgb(255, 0, 0) 100%);
    color: black;
    text-shadow: 0.08em 0 #bd0000, -0.08em 0 #bd0000, 0 0.08em #bd0000, 0 -0.08em #bd0000,
        0.04em 0.04em #bd0000, -0.04em -0.04em #bd0000, 0.04em -0.04em #bd0000, 0.04em 0.04em #bd0000;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    margin-top: 2vh;
}


@media (max-width: 768px) {
    .inputLvl {
        margin-top: 3vh;
        width: 25vw;
        height: 8vh;
        border-radius: 1em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }
    .inputLvlY {
        margin-top: 3vh;
        width: 25vw;
        height: 8vh;
        border-radius: 1em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }
    .inputLvlR {
        margin-top: 3vh;
        width: 25vw;
        height: 8vh;
        border-radius: 1em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }
}

.inputLvl2 {
    width: 8vw;
    height: 4vh;
    background: linear-gradient(163deg, rgb(255, 0, 0) 0%, rgb(189, 0, 0) 21%, rgba(189, 0, 0, 0.919) 35%, rgba(255, 0, 0, 0.844) 47%, rgba(189, 0, 0, 0.925) 65%, rgba(189, 0, 0, 0.804) 78%, rgb(255, 0, 0) 100%);
    color: black;
    text-shadow: 0.08em 0 #bd0000, -0.08em 0 #bd0000, 0 0.08em #bd0000, 0 -0.08em #bd0000,
        0.04em 0.04em #bd0000, -0.04em -0.04em #bd0000, 0.04em -0.04em #bd0000, 0.04em 0.04em #bd0000;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    margin-top: 1vh;
}

@media (max-width: 768px) {
    .inputLvl2 {
        margin-top: 3vh;
        width: 25vw;
        height: 5vh;
        background: linear-gradient(163deg, rgb(255, 0, 0) 0%, rgb(189, 0, 0) 21%, rgba(189, 0, 0, 0.919) 35%, rgba(255, 0, 0, 0.844) 47%, rgba(189, 0, 0, 0.925) 65%, rgba(189, 0, 0, 0.804) 78%, rgb(255, 0, 0) 100%);
        color: black;
        text-shadow: 0.08em 0 #bd0000, -0.08em 0 #bd0000, 0 0.08em #bd0000, 0 -0.08em #bd0000,
            0.04em 0.04em #bd0000, -0.04em -0.04em #bd0000, 0.04em -0.04em #bd0000, 0.04em 0.04em #bd0000;
        border-radius: 1em;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }
}



.prompLevelSelect {
    width: 50vw;
    color: black;
    text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
        0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
    height: auto;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-bottom: 1vh;

}

@media (max-width: 768px) {
    .prompLevelSelect {
        width: 80vw;
        color: black;
        text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
            0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
        height: auto;
        font-size: 150%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

    }
}

/* CSS PAGE: COLOR SELECT */

.selected {
    margin-top: 3vh;
    width: auto;
    height: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 768px) {

    .selected {
        margin-top: 3vh;
        width: 90vw;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.selectedColor {
    MARGIN: 0.32em;
    width: 5em;
    padding-bottom: 5em;
    background-color: white;
    border-radius: 50%;
}

@media (max-width: 768px) {

    .selectedColor {
        padding-top: 1em;
        padding-bottom: 1em;
        MARGIN: 0.32em;
        width: 3em;
        height: 3em;
        background-color: white;
        border-radius: 50%;
    }
}

.selectedColor.selectedC {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    MARGIN: 0.32em;
    width: 5em;
    height: 5em;
    background-color: white;
    transform: scale(1.2);
    border-radius: 50%;
    border: solid 0.32em #84BD00;
}

@media (max-width: 768px) {

    .selectedColor.selectedC {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        MARGIN: 0.32em;
        width: 3em;
        height: 3em;
        background-color: white;
        transform: scale(1.5);
        border-radius: 50%;
        border: solid 0.32em #84BD00;
    }
}

@media (max-width: 768px) {

    .colorPickerContainer {
        width: 50vw;
        height: 5vh;
    }
}

#pickerColor {
    padding: 0;
    margin-top: 2em;
    width: 10vw;
    height: 5vh;
    border-radius: 0.8em;
    border: #84BD00 solid 0.20em;
}

@media (max-width: 768px) {
    #pickerColor {
        padding: 0;
        margin-top: 2em;
        width: 50vw;
        height: 5vh;
        border-radius: 0.8em;
        border: #84BD00 solid 0.20em;
    }
}

.prompColorSelect {
    width: 30vw;
    color: black;
    text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
        0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
    height: auto;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

}

@media (max-width: 768px) {

    .prompColorSelect {
        width: 80vw;
        color: black;
        text-shadow: 0.08em 0 #84BD00, -0.08em 0 #84BD00, 0 0.08em #84BD00, 0 -0.08em #84BD00,
            0.04em 0.04em #84BD00, -0.04em -0.04em #84BD00, 0.04em -0.04em #84BD00, 0.04em 0.04em #84BD00;
        height: auto;
        font-size: 150%;
        font-weight: bold;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        margin-bottom: 1vh;
    }
}